# The tla+ toolbox creates a .toolbox folder for each specification you create
# While this folder does contain model details, which we potentially want to check
# in, it also contains a lot of other files, so we ignore it for the moment
*.toolbox/

# The tlatex utility produces auxilliary files when compiling the spec
*.aux
*.dvi
*.log
*.old
*.tex

# Running TLC generates a states folder
states/*
*/states/*